*{
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'BenchNine', sans-serif;
}
body{
	 position: relative
}
.sobreMiback{
	background-color: #A32526;
	background-image: url(../images/subtle_white_feathers_@2X.png);
	background-size: cover;
	background-attachment: fixed;
	height: auto;
	width: 100%;
}
.imgperfil{
	margin-top: 1.5rem;
	border-style: solid;
	border-width: .8em;
	border-radius: 100%;
	border-color: #0388A9;
	padding: .8em;
}
#cv {
    opacity: 0.6;
    filter: alpha(opacity=50);
    border-style: none; /* For IE8 and earlier */
}
#cv:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.cajaimg{
	width: 100%;
	height: 20rem;
}
.cajalogos{
	text-align:center;
}
.semblanza{
	font-size: 2.5rem;
	color: #A32526;
}
.skills:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}
.proyectos{
	width: 100%;
	height: auto,
	padding: 5rem;
	margin-top: 3em;
	border: solid;
	border-color: #F25F04;
}
.imgproyec{
	width: 100%;
	height: auto;
}
.proyectos {
    opacity: 0.7;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.proyectos:hover {
    opacity: 1.0;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}



.titulo{
	font-size: 3em;
}
ul.nav a:hover{
	background-color: #0388A9 !important;
}
nav.navbar{
    background-color: #F25F04 !important;
    font-size: 1.7rem;
}
h1, h2, h3, h4 {
	color: #0388A9;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-family: 'BenchNine', sans-serif !important;
}
h1{
	font-size: 5.5rem !important;
	margin: 0 !important;
}
h2{
	font-size: 4.8rem;
	margin-bottom: 4rem;
}
h3{
	margin: 0 !important;
	font-size: 4.1rem !important;
}
h4{
	font-size: 2.8rem;
	margin-bottom: 3.5rem;
}
small{
	color: #F25F04 !important;
}

footer{	
	background-color: #F25F04;
	font-size: 1.5rem;
	padding: .5em;
	height: auto;
	width: 100%;
}
.txtorange{
	color: #F25F04;
}
.pfooter{
	color: white;
	font-size: 1.5rem;
}
.mtop1{
	margin-top: 1em;
}
.mtop2{
	margin-top: 2em;
}
.mtop3{
	margin-top: 3em;
}
.mtop5{
	margin-top: 5em;
}
.mbotm2{
	margin-bottom: 2em;
}
.mbotm3{
	margin-bottom: 3em;
}
.mtopbot4{
	margin-top: 4em;
	margin-bottom: 4em;
}
.marginriht{
	margin-right: 4.35em;
}
.marginriht2{
	margin-right: 5.35em;
}
.marginleft{
	margin-left: 8.2em;
}
.pdtop7{
	padding-top: 7em;
}
.pd4{
	padding-top: 4em;
	padding-bottom: 4em;
}
.ptopbot3{
	padding-top: 3em;
	padding-bottom: 2em;
}
.ptopbot1{
	padding-top: 1em;
	padding-bottom: 1em;
}
.pd{
	padding: 1em;
}
.pdtop2{
	padding-top: 2em;
}
.pdtopbot2{
	padding-top: 2em;
	padding-bottom: 2em;
}
.pdtop15{
	padding-top: 1em;
}