/*CSS DE RETOS*/
*{
	font-family: 'Architects Daughter', cursive;
}
.marg{
	margin: 5%;
}
.mar-b{
	margin-bottom: 5%;
}
#fondo{
	background-image: url(../img/fondo.jpg);

}
.opacidad{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.9);
}
/*ANIMACION*/
